body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .container {
    text-align: center;
  }
  
  
  #Laag_11{
    stroke-dasharray: 200;
    stroke-dashoffset: 220;
    animation: draw 4s linear forwards;
    animation-delay: 8s;
  }

  @keyframes draw {

    
    to {
        stroke-dashoffset: 0;
    }
}

#hat_1{
  position: absolute;
  transform: translateY(-100px);
  animation: fall 1.5s ease-out forwards;
  
}

@keyframes fall {
  0% {
    transform: translateY(-300px);
      opacity: 0; /* Start invisible */
  }
  50% {
      opacity: 1; /* Become visible in the middle of the animation */
  }
  100% {
    transform: translateY(0px);/* End position in the middle of the screen */
      opacity: 1;
  }
}

#hat2{
  position: absolute;
  transform: translateY(-300px);
  animation: fall 1.5s ease-out forwards;
  animation-delay: 1s;
}
#hat3{
  position: absolute;
  transform: translateY(-300px);
  animation: fall 1.5s ease-out forwards;
  animation-delay: 2s;
}

#hat4{
  position: absolute;
  transform: translateY(-300px);
  animation: fall 1.5s ease-out forwards;
  animation-delay: 3s;
}

#hat5{
  position: absolute;
  transform: translateY(-300px);
  animation: fall 1.5s ease-out forwards;
  animation-delay: 4s;
}


#hat_6{
  position: absolute;
  transform: translateY(-300px);
  animation: fall 1.5s ease-out forwards;
  animation-delay: 5s;
}

#hat7{
  position: absolute;
  transform: translateY(-300px);
  animation: fall 1.5s ease-out forwards;
  animation-delay: 6s;
}

#hat8{
  position: absolute;
  transform: translateY(-300px);
  animation: fall 1.5s ease-out forwards;
  animation-delay: 7s;
}
