svg {
  position: absolute;
  width: 40vw;
  top: 30vw;
  left: 28vw;
  
  display: flex;
}



.clock {
  background: url(clock.svg) no-repeat center;
  background-size: 7.5vh;
  height: 57vh;
  left: -2vw;
  position: relative;
  transform: translateY(-2.5vh);
  animation: vallen 1.5s ease-out forwards 2.5s;
}

  @keyframes vallen{
    0%{
        transform: translateY(-1.5vh);
    }

    100%{
        transform: translateY(12vh);
    }
  }
  
  

  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hours {
    background: #000;
    height: 3.75%;
    left: 49.8%;
    position: absolute;
    top: 46%;
    transform-origin: 50% 100%;
    width: 0.2vh;
    rotate: 100deg;
  }
  
  .minutes {
    background: #000;
    height: 4.5%;
    left: 49.8%;
    position: absolute;
    top: 45.5%;
    transform-origin: 50% 100%;
    width: 0.15vh;
    rotate: -50deg;
  }

  .seconds {
    background: #000;
    height: 5%;
    left: 49.8%;
    position: absolute;
    top: 45%;
    transform-origin: 50% 80%;
    width: 0.1vh;
    z-index: 8;
  }

  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }

  .hours-container {
    animation: rotate 43200s infinite linear;
  }
  .minutes-container {
    animation: rotate 3600s infinite linear;
  }
  .seconds-container {
    animation: rotate 60s infinite linear;
  }

  .minutes-container {
    animation: rotate 3600s infinite steps(60);
  }
  .seconds-container {
    animation: rotate 60s infinite steps(60);
  }

  #o{
    transform: translateY(-50%);

    animation: o 2s forwards 2s ;
  }

@keyframes o{
  0%{
    transform: translateY(-50%);
}

100%{
    transform: translateY(0%);
}
}

#ketting{
  transform: scaleY(0); 
  transform-origin: top;
  animation: show 2s ease forwards 2.2s;
}

@keyframes show {
  0% {
    transform: scaleY(0); 
  }
  100% {
    transform: scaleY(1);  
  }
}



