



html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden; /* Voorkomt horizontaal scrollen */
}

p, li {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

img{
    border-radius: 20px
}

#inleiding{
    text-align: center;
    max-width: 800px;
}

#inleiding h1{
    font-size: 2em;
}

#inleiding p{
    font-size: 1em;
}

#container {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 60px; /* Compenseer voor de vaste navbar */
}

#content {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

#navbar h1 {
    margin: 0;
    margin-left: 2em;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 3em;
}

#navbar ul li {
    margin-left: 20px;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    color: #333;
    text-align: center;
    text-decoration: none;
    color: black;
    
}

#navbar ul li a:hover{
color: var(--hover-color, black);}


.section img {
    max-width: 100%;
    height: auto;
}

.section:nth-child(even) {
    background-color: white;
}

.iframe-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    
}

.iframe-container20{
    
}

.iframe-container5 {
    width: 120%;
    
    height: 100%;
    overflow-x:hidden;
    display: flex;
    justify-content: center;
    transform: scale(0.6);
    
    
    
}
.iframe-container2 {
    width: auto;
    transform: scale(3); /* Verkleint de inhoud tot 80% van de originele grootte */
            transform-origin: 0 0;
    
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}
.iframe-container3 {
    transform: scale(2); /* Verkleint de inhoud tot 80% van de originele grootte */
            transform-origin: 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: center;
    margin-right: 20%;
    height: 200px;
}


.iframe-container4 {
  width: 100%;
  
   
   
    
}
iframe {
    
    width: 100%;
    height: 900px;
    border-radius: 20px;
    
}


#scroll-nav {
    position: fixed;
    top: 0%;
    left: 230px;
   margin-top: -80px;
    z-index: 1001;
    transform: rotate(-90deg);
}

#scroll-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#scroll-nav ul li {
    margin: 10px 0;
    
}

#scroll-nav ul li a img {
   
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    transform: rotate(90deg);
}

#scroll-nav li {
    margin: 10px 0;
    position: relative;
}
#scroll-nav a img {
    width: 50px;
    transition: transform 0.3s;
}
#scroll-nav a:hover img, #scroll-nav a.active img {
    transform: scale(1.5);
    transform: rotate(90deg);
}

#scroll-nav span {
    display: none;
    margin-left: 10px;
   padding-top: 12px;
    margin-left: 20px;
    
    
}

.hoppin{
    color: #09bdab;
    text-decoration: none;
    display: flex;
    text-align: center;
    
}



#section7 hr{
    background-color: #09bdab;
    height: 2px;
    border: 0;
    width: 40%;
    margin: 0;
    
}

#section1 hr{
    background-color: #4287f5;
    height: 2px;
    border: 0;
    width: 40%;
    margin: 0;
    
    
}
#section2 hr{
    background-color: #eb3d51;
    height: 2px;
    border: 0;
    width: 40%;
    margin: 0;
    
    
}

#section3 hr{
    background-color: #0c9c33;
    height: 2px;
    border: 0;
    width: 40%;
    margin: 0;
    
    
}

#section4 hr{
    background-color: #910d8d;
    height: 2px;
    border: 0;
    width: 40%;
    margin: 0;
    
    
}

#section5 hr{
    background-color: #dbd518;
    height: 2px;
    border: 0;
    width: 40%;
    margin: 0;
    
    
}

#section6 hr{
    background-color: #dbae18;
    height: 2px;
    border: 0;
     width: 40%;
    margin: 0;
    
    
}



.useless{
    color:#4287f5;
    text-decoration: none;
    display: flex;
    text-align: center;
}

.typografie{
    color:#eb3d51;
    text-decoration: none;
    display: flex;
    text-align: center;
}

.poster{
    color:#0c9c33;
    text-decoration: none;
    display: flex;
    text-align: center;
}

.zengarden{
    color:#910d8d;
    text-decoration: none;
    display: flex;
    text-align: center;
}

 .doodle{
    color:#dbd518;
    text-decoration: none;
    display: flex;
    text-align: center;
 }

 .little{
    color:#dbae18;
    text-decoration: none;
    display: flex;
    text-align: center;
 }
#stuk1{
    width: 100%;
    height: 200px;
    background-color: #4287f5;
    color: white;
    display: block;
    align-items: center;
    border-radius: 20px;
}

 #stuk1 h1{
    padding-left: 2em;
    padding-top: 2em;
}

#stuk1 p{
    padding-left: 3em;
    padding-right: 3em;
}

#stuk2{
    width: 100%;
    height: 200px;
    background-color: #eb3d51;
    color: white;
    display: block;
    align-items: center;
    border-radius: 20px;
}

 #stuk2 h1{
    padding-left: 2em;
    padding-top: 2em;
}

#stuk2 p{
    padding-left: 3em;
    padding-right: 3em;
}

#stuk3{
    width: 100%;
    height: 200px;
    background-color: #0c9c33;
    color: white;
    display: block;
    align-items: center;
    border-radius: 20px;
}

 #stuk3 h1{
    padding-left: 2em;
    padding-top: 2em;
}

#stuk3 p{
    padding-left: 3em;
    padding-right: 3em;
}

#stuk4{
    width: 100%;
    height: 200px;
    background-color: #910d8d;
    color: white;
    display: block;
    align-items: center;
    border-radius: 20px;
}

 #stuk4 h1{
    padding-left: 2em;
    padding-top: 2em;
}

#stuk4 p{
    padding-left: 3em;
    padding-right: 3em;
}

#stuk5{
    width: 100%;
    height: 200px;
    background-color: #dbd518;
    color: white;
    display: block;
    align-items: center;
    border-radius: 20px;
}

 #stuk5 h1{
    padding-left: 2em;
    padding-top: 2em;
}

#stuk5 p{
    padding-left: 3em;
    padding-right: 3em;
}

#stuk6{
    width: 100%;
    height: 200px;
    background-color: #dbae18;
    color: white;
    display: block;
    align-items: center;
    border-radius: 20px;
}

 #stuk6 h1{
    padding-left: 2em;
    padding-top: 2em;
}

#stuk6 p{
    padding-left: 3em;
    padding-right: 3em;
}

#stuk7{
    width: 100%;
    height: 200px;
    background-color: #09bdab;
    color: white;
    display: block;
    align-items: center;
    border-radius: 20px;
}

 #stuk7 h1{
    padding-left: 2em;
    padding-top: 2em;
}

#stuk7 p{
    padding-left: 3em;
    padding-right: 3em;
}

#overzicht{
    
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 8em;
    margin-bottom: 8em;
}

#overzicht a{
    color: #09bdab;
    text-decoration: none;
}


.slider {
    width: 300px;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
   margin-left: 14%;
   
    
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: #4287f5;
    border-radius: 10px;
    
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 600px;
    
    border-radius: 10px;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  
  
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    padding: 10px;
    background-color: #4287f5;
    color: white;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  

  .slider2 {
    width: 300px;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
   margin-left: 14%;
   
    
  }
  
  .slides2 {
    display: flex;
    
    overflow-x: auto;
    
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides2::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides2::-webkit-scrollbar-thumb {
    background:#eb3d51;
    border-radius: 10px;
    
  }
  .slides2::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides2 > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 600px;
    
    border-radius: 10px;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  
  
  
  .slider2 > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    padding: 10px;
    background-color:#eb3d51;
    color: white;
  }
  .slider2 > a:active {
    top: 1px;
  }
  .slider2 > a:focus {
    background: #000;
  }
 
 .midden{
    display: flex;
    justify-content: center;
 }

 .bio{
    margin: 5%;
    margin-bottom: 10%;
 }

 .bio h2{
    text-align: center;
 }

 .persoon{
    text-align: center;
    margin-bottom: 10%;
 }
 
 .skills{
    margin: 5%;
 }
.skills h2{
    background: linear-gradient(90deg, rgba(206,98,116,1) 0%, rgba(235,147,145,1) 35%, rgba(99,179,228,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .skills li::marker{
    color: rgb(206,98,116);
 }

 .aboutline{
    border-style: none;
    height: 2px;
    width: 90%;
    background: rgb(206,98,116);
background: linear-gradient(90deg, rgba(206,98,116,1) 0%, rgba(235,147,145,1) 35%, rgba(99,179,228,1) 100%);
 }

 #navbar-title2{
    background: linear-gradient(90deg, rgba(206,98,116,1) 0%, rgba(235,147,145,1) 35%, rgba(99,179,228,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

 }
 .profile img{
    max-width: 100%;
 }

 .profile{
    margin-top: 10%;
 }
  @media (min-width: 768px) {
    p, li {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
    }
    
    h1, h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 23px;
    }

    #inleiding h1{
        font-size: 4em;
    }

    .iframe-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    
}


.slider {
    width: 600px;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
   margin-left: 14%;
   
    
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: #4287f5;
    border-radius: 10px;
    
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 600px;
    height: 600px;
    
    border-radius: 10px;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  
  
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    padding: 10px;
    background-color: #4287f5;
    color: white;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  

  .slider2 {
    width: 600px;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
   margin-left: 14%;
   
    
  }
  
  .slides2 {
    display: flex;
    
    overflow-x: auto;
    
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides2::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides2::-webkit-scrollbar-thumb {
    background:#eb3d51;
    border-radius: 10px;
    
  }
  .slides2::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides2 > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 600px;
    height: 600px;
    
    border-radius: 10px;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  
  
  
  .slider2 > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    padding: 10px;
    background-color:#eb3d51;
    color: white;
  }
  .slider2 > a:active {
    top: 1px;
  }
  .slider2 > a:focus {
    background: #000;
  }

  .iframe-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    
}

.iframe-container4 {
    width: 100%;
     padding-left: 12%;
      overflow: hidden;
      
  }

  .iframe-container5 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transform: scale(1);
    
}


#scroll-nav {
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translateY(-31.5%);
    z-index: 1001;
}

#scroll-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#scroll-nav ul li {
    margin: 10px 0;
    
}

#scroll-nav ul li a img {
   
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    transform: rotate(0deg);
}

#scroll-nav li {
    margin: 10px 0;
    position: relative;
}
#scroll-nav a img {
    width: 50px;
    transition: transform 0.3s;
    
}
#scroll-nav a:hover img, #scroll-nav a.active img {
    transform: scale(1.5);
}
#scroll-nav a:hover span, #scroll-nav a.active span {
    display: inline;
}
#scroll-nav span {
    display: none;
    margin-left: 10px;
   padding-top: 12px;
    margin-left: 20px;
    
    
}




}